.wrapper {
    align-items: center;
    width:fit-content;
    height:fit-content;
    border-width: 16px;
    border-color: black;
    margin-top: relative;
    margin-bottom: 300px;
    background: linear-gradient(to left, black, white)
}

body{
    align-items: center;
    padding: 20px;
    background-image: url(assets/zebra-print.jpg);
}

.How {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 68px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
    color:cornsilk
}

#Can {
    font-size: 30px;
    font-style: italic;
    text-align: center;
    background: linear-gradient(to bottom, #ffe8d4, #f63c3c);
    border: 1px solid #696969;
    padding: 7px;
    border-radius: 7px;
    box-shadow: 2px 2px 1px rgb(40, 0, 0);
    font-weight: light;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 10px;
    margin-left: 10px;
}

.A01{
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1.5px;
    font-size: 35px;
    font-style:bold;
    text-decoration: underline;
}

.B01{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-style: italic;

}